/*
 * @fileoverview
 * Стили для компонента ConfirmEmailPage.
 *
 * @module ConfirmEmailPage.css
 */

.confirm-email-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Занимает всю высоту экрана */
  font-family: sans-serif; /* Общий шрифт для всего приложения */
  text-align: center; /* Центрирование текста */
}

.confirm-email-page p {
  margin-bottom: 1rem; /* Отступ снизу */
}

.confirm-email-page .error {
  color: red; /* Цвет текста ошибки */
  font-weight: bold; /* Жирный шрифт для ошибок */
}