.homepage {
    width: 100vw;                           /*ширина браузера*/                                      
    height: 100vh;                          /*высота браузера*/
    display: flex;                          /*расположение элементов внутри контейнера*/                  
    flex-direction: column;                 /*расположение элементов в колонку*/   
    box-sizing: content-box;               /*включает в ширину и высоту внутренние отступы и границы*/
    padding-top: 0.3rem;                    /*внутренние отступы сверху*/
    margin: 0 auto;
    scroll-snap-type: y mandatory;          /* делает эффект "залипания" по секциям */
    overflow-y: scroll;                     /*вертикальная прокрутка*/
    align-items: stretch;
}

.section {
  scroll-snap-align: start;        /* залипает в начале */
  height: 100vh;                  /*высота секции равна высоте окна браузера*/
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-left: 1.25rem;                  /*внутренние отступы слева*/
  padding-right: 1.25rem;                 /*внутренние отступы справа*/
}


.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  /*margin-bottom: 1.5rem;            /*отступ снизу*/
}


