/* 1. Сначала загружаем шрифт */
@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src: url("../../public/fonts/SFProDisplay/SF-Pro-Display-Medium.otf") format("opentype");
  font-display: swap;          /* важно для производительности */
}

/* 2. Переопределяем Bootstrap-переменные */
:root {
    --bs-body-font-family:    'SF-Pro-Display-Medium' !important;
    --bs-body-font-size:      1.125rem;         /* 18px при root 16px */
}
