html, body, #root {
  height: 100vh;              /*высота браузера*/ 
  width: 100vw;               /*ширина браузера*/
  margin: 0;                  /*внешние отступы*/
  padding: 0;                 /*внутренние отступы*/
  box-sizing: border-box;     /*размер только в рамках ширины*/
  overflow-x: hidden;         /*прячем горизонтальный скроллер*/
  overflow-y: hidden;         /*прячем вертикальный скроллер*/
  display: flex;              /*расположение элементов внутри браузера*/
  align-items: center;        /*расположение относительно поперечной оси*/
  justify-content: center;    /*расположение относительно основной(горизонтальной оси)*/
}

@font-face {
    font-family: 'SuisseInt-Regular';
    src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}