

# Игнорировать все .map файлы (сгенерированные сборщиками и библиотеками)
*.map

# Игнорировать все .d.ts файлы (типизация, если ты не хочешь её коммитить)
*.d.ts

# Игнорировать lock-файлы
yarn.lock
pnpm-lock.yaml

# Игнорировать временные файлы и IDE
.vscode/
*.code-workspace

# Игнорировать папки dist и build (сборка)
dist/
build/
