@font-face {
  font-family: 'SuisseInt-Regular';
  src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.orange-button {
  width: 489px;
  height: 74px;

  font-family: 'SuisseInt-Regular', sans-serif;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 40px;
  color: #000000;
  border: 2px solid #B95700;
  border-radius: 60px;
  background-color: #ffffff;
  font-weight: 400;
  transition: all 0.7s cubic-bezier(0.5, 1, 0.5, 1);
  overflow: hidden;
}

.orange-button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 170px;
  height: 74px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(184, 86, 0);
  transition: all 0.7s cubic-bezier(0.3, 1, 0.5, 1);
}

.orange-button:hover::before {
  scale: 3;
}

.orange-button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0px 0px 30px rgba(226, 109, 7, 0.6);
}

.orange-button:active {
  scale: 1;
}


