:root {
  --btn-color: #000000;
  --btn-text-color: #ffffff;
  --btn-backdrop-filter: none;
  --btn-width: 489px;
  --btn-height: 74px;
  --btn-border-color: #000000;
}

.button {
  max-width: var(--btn-width);
  width: 100%;        

  min-height: var(--btn-height);
  height: auto;       

  min-width: 0;       
  flex: 1 1 auto;     

  padding: 0 12px;
  text-align: center;

  white-space: normal;       
  overflow-wrap: break-word; 

  border-color: var(--btn-border-color);
  color: var(--btn-text-color);
  background-color: var(--btn-color);
  border-radius: 30px;
  backdrop-filter: var(--btn-backdrop-filter);
}


