:root {
  --btn-color: #000000;
  --btn-text-color: #ffffff;
  --btn-backdrop-filter: none;
  --btn-width: 489px;
  --btn-height: 74px;
  --btn-border-color: #000000;
}

.button {
  width: var(--btn-width);
  height: var(--btn-height);

  border-color: var(--btn-border-color);
  color: var(--btn-text-color);
  background-color: var(--btn-color);
  border-radius: 30px;

  backdrop-filter: var(--btn-backdrop-filter);
}


