@font-face {
  font-family: 'SuisseInt-Regular';
  src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.blue-button {
  width: 489px;
  height: 74px;

  font-family: 'SuisseInt-Regular', sans-serif;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 30px;
  color: #000000;
  border: 2px solid #0C2461;
  border-radius: 60px;
  background-color: transparent;
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blue-button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(12, 36, 97);
  transition: all 0.7s cubic-bezier(0.5, 1, 0.5, 1);
}

.blue-button:hover::before {
  scale: 1;
}

.blue-button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0px 0px 30px rgba(23, 59, 151, 0.6);
  transition: all 0.7s cubic-bezier(0.5, 1, 0.5, 1);
}

.blue-button:active {
  scale: 1;
}


