.to-home-wrapper {
    position: absolute;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
}

.to-home-logo-button {
    background: transparent;
}

.to-home-logo-button:hover {
    scale: 1.1;
}

.to-home-tooltip {
    font-family: 'SuisseInt-Regular', sans-serif;
    white-space: nowrap;
    background: transparent;
    color: rgb(12, 36, 97);
    border-radius: 3rem;
    margin-left: 1rem;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    font-size: 1rem;
}

.to-home-tooltip.visible {
    opacity: 1;
    transform: translateX(0);
}
